<div>
    <h2>Add expense</h2>
    <p>Name</p>
    <input [(ngModel)]="expense.Name">
    <p>Cost</p>
    <input [(ngModel)]="expense.Cost" type="number">
    <p>Date</p>
    <input [(ngModel)]="expense.Date">
    <p>Category</p>
    <input [(ngModel)]="expense.CategoryName">
    <br>
    <button (click)="addExpense()">Add</button>
</div>
<div>
    <h2>Update expenses's category</h2>
    <p>Expense's Name</p>
    <input [(ngModel)]="expenseForUpdate">
    <p>Name of category</p>
    <input [(ngModel)]="category.Name">
    <br>
    <button (click)="updateExpenseCategory()">Update</button>
</div>
<div>
    <h2>Delete expense</h2>
    <p>Expense's Name</p>
    <input [(ngModel)]="expenseForDelete">
    <br>
    <button (click)="deleteExpense()">Delete</button>
</div>