<div>
    <a routerLink="expense-operation">Expense operation</a>
    <br>
    <a routerLink="category-operation">Category operation</a>
    <br>
    <a routerLink="categories-percents">Categories percents</a>
    <br>
    <a routerLink="expenses-monthly">Expenses monthly</a>
</div>
<router-outlet></router-outlet>